In [25]:
import pandas as pd
from sqlalchemy import create_engine
from config.py import password

ModuleNotFoundError: No module named 'config'

In [4]:
calendar_df = pd.read_csv("Resources/calendar.csv")
calendar_df.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [6]:
listings_df = pd.read_csv("Resources/listings.csv")
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [9]:
reviews_df = pd.read_csv("Resources/reviews.csv")
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [15]:
calendar_df_clean= calendar_df[["listing_id","price","date"]].copy()
calendar_df_clean.dropna().head()

    listing_id   price        date
0       241032  $85.00  2016-01-04
1       241032  $85.00  2016-01-05
9       241032  $85.00  2016-01-13
10      241032  $85.00  2016-01-14
14      241032  $85.00  2016-01-18

In [18]:
listings_df_clean=listings_df[["id","name","neighbourhood_cleansed","price","number_of_reviews","review_scores_rating"]].copy()
listings_df_clean.head()

,id,name,neighbourhood_cleansed,price,number_of_reviews,review_scores_rating
0,241032,Stylish Queen Anne Apartment,West Queen Anne,$85.00,207,95.0
1,953595,Bright & Airy Queen Anne Apartment,West Queen Anne,$150.00,43,96.0
2,3308979,New Modern House-Amazing water view,West Queen Anne,$975.00,20,97.0
3,7421966,Queen Anne Chateau,West Queen Anne,$100.00,0,NaN
4,278830,Charming craftsman 3 bdm house,West Queen Anne,$450.00,38,92.0

In [20]:
reviews_df_clean= reviews_df[["listing_id","comments"]].copy()
reviews_df_clean.head()

   listing_id                                           comments
0     7202016  Cute and cozy place. Perfect location to every...
1     7202016  Kelly has a great room in a very central locat...
2     7202016  Very spacious apartment, and in a great neighb...
3     7202016  Close to Seattle Center and all it has to offe...
4     7202016  Kelly was a great host and very accommodating ...

In [23]:

connection_string = "postgres:Sunshine1@localhost:5432/seattle_airbnb"
engine = create_engine(f'postgresql://{connection_string}')

In [24]:
engine.table_names()

['calendar', 'listings', 'reviews']